@import "../../shared/styles/variables";

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

  .results {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0px 1em;
    min-height: 40px;

    .item {
      background-color: $yellow;
      border-radius: 13px;
      padding-top: 3px;
      width: 26px;
      height: 26px;
      text-align: center;
      font-weight: bold;
      margin-right: 2em;
      margin-top: .5em;
    }

    .kinobonus {
      background: red;
      color: white;
    }
  }
}
