<div class="p-grid p-nogutter" style="height: 100vh;">
    <div class="p-col-12 p-md-1 " style="background-color: antiquewhite; min-width: 150px;">
         Menu
    </div>
    <div class="p-col-12 p-md-11  p-col-nogutter" style="background-color: red; height: calc(100% - 50px);">
        <div class="p-col-12 p-col-nogutter" style="background-color: purple;height: 70px;">
            Top Bar
        </div>
        <div class="p-col-12" style="background-color: orange; height: calc(100% - 70px);" >
            Body
        </div>
    </div>
    <div class="p-col-12" style="background-color: blue;height: 50px;">
        Footer
    </div>
</div>
<!-- <kino-table></kino-table> -->