<div style="display: block" *ngIf="barChartData">
  <canvas baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [legend]="barChartLegend"
    [chartType]="barChartType">
  </canvas>
</div>

<div style="display: block" *ngIf="pieChartData">
  <canvas baseChart
    [datasets]="pieChartData"
    [labels]="barChartLabels"
    [options]="bonusChartOptions"
    [legend]="barChartLegend"
    [chartType]="pieChartType"
    [colors]="bonusChartColors"
    >
  </canvas>
</div>