@import '../../shared/styles/variables';

.winning-numbers{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    // border: none !important;

    .number{
        // display:table-cell !important;
        width: 5% !important;
        text-align: center !important;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;

       .ball{
        background-color: $yellow;
        border-radius: 11px;
        padding-top: 1px;
        width: 22px;
        height: 22px;
       }
    }
}

.bonus{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto 0px !important;
    // width: 100% !important;
    // background-color: red !important;
    

    .kinobonus{
        background-color: $blue;
        border-radius: 11px;
        padding-top: 1px;
        width: 22px;
        height: 22px;
        color: white;
    }
}
